
/* 해시태그 */

.product-hashtag ul{
  margin-left: auto;
  margin-right: auto;
  /* display: table; */
}

.product-hashtag ul:nth-child(2){
  margin-left: auto;
  margin-right: auto;
  display: table;
  /* justify-content: flex-start; */
}


.product-hashtag ul li{
  float: left;
  margin: 8px 8px 0 0;
  padding: 7px 15px 9px 15px;
  border-radius: 16px;
  color: #373f57;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 16px;
  background-color: #f4f6fa;
}

.product-hashtag{
  display: flex;
  /* padding: 10px 0 10px; */
  /* margin: 8px 0; */
  margin: auto;
  /* cursor: pointer; */
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.product-hashtag div{
  float: left;
  margin: 16px 8px 0 0;
  padding: 7px 15px 9px 15px;
  border-radius: 16px;
  color: #667d8e;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 16px;
  background-color: #f4f6fa;

  /* flex box 속성값 */
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; */
  flex: none;

}

/* .product-hashtag ul li:nth-child(3n+1){
  background-color: #acffbe79;
} */

.product-hashtag ul li:nth-child(3n+2){
  background-color: #fffed3ad;
}

.product-hashtag ul li:nth-child(3n+3){
  background-color: #ffb4db49;
}



.pro-details-likeDislike{
  padding: 30px;
  text-align: center;
  width: 90%;
}
.product-wrap{
  min-height: 175px;
}
.product-img{
  margin-top: 10px;
}
.product-content{
  margin: 10px 0 !important;
}



/* 원그래프 */
.pie-chart2 {
  display:inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  background: conic-gradient(#8b22ff 0% 25%, #ffc33b 25% 56%, #21f3d6 56% 100%);
  border-radius: 50%;
}
.pie-chart2  .center{
  position:absolute;
  width: 120px; 
  height: 120px;
  background :#fff;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.popular-img{
  position: absolute;
}
.popular-chart{
  /* display: none; */
  position: absolute;
}
.perfume-popular-item p{
  /* position: relative; */
  /* 모두 차트 쓰면 위에거 풀어주기 */
  top: 85%;
}

.perfume-popular-item div img{
  /* width: 90%; */
  height: 158px;
  object-fit: cover;
}


/* 더보기 */
.title{
  display: inline;

}
.title-sub{
  cursor: pointer;
  text-align: right;
  display: inline;
  line-height: 44px;
  font-size: 15px;
  height: 44px;
  vertical-align: middle;
  /* padding-right: 70px; */
  text-align: center;
}




/* 인기향수리스트 */
.popular-container{
  background-color: #f4f6fa;
  margin: 50px auto;

}
.product-details-content{
margin-top: 20px;
margin-bottom: 50px
}
.title-popular{
  font-weight: bold;
  padding: 10px;
  /* padding-left: 70px; */
  text-align: center;
  display: inline;
  /* color: #fff; */
}
.perfume-popular-area{
  justify-content: center;
}

.perfume-popular-items{
  text-align: center;
  /* display: inline; */
  padding-top: 10px;
  justify-content: center;
  /* margin-bottom: 20px; */
  position: relative;
}

.perfume-popular-item{
 /* border: 2.5px solid rgb(223, 223, 223); */
 margin: 0 20px;
 margin-bottom: 20px;
  box-shadow: 2px 3px 5px 0px rgb(223, 223, 223);
  background-color: #fff;
}
.perfume-popular-item:hover{
  transform: scale(1.1);
}
.perfume-popular-item img{
  height: 150px;
  /* content: url(".\assets\tempImg\123359405127241D28.jpg"); */
}


.perfume-popular-item img:hover{
  /* background: '.\assets\tempImg\다운로드 (2).jpg'; */
  /* content: url("./public\assets\tempImg\다운로드 (2).jpg"); */
  /* content: url("../../../public/assets/tempImg/다운로드\ \(2\).jpg"); */
  /* content: url(""); */
  opacity: 0.3;
}




/* 구분선 */
.line{
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  /* margin-bottom: 10px; */
  margin-top: 50px;
}

/* 카드리뷰 */
.col-testimonials-list{
  display: inline;
}
.slider-testimonials{
  display: flex;
}
.item-testimonials{
width: 280px;
height: 300px;
margin: 0 10px;
background: #ffffff;
border: 1px solid #CCBDFF;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border-radius: 25px;
padding: 20px 20px;
}
.box-item-testimonials-text{
  border-radius: 12px;
  background-color: #f4f6fa;
  padding: 10px;
  max-height: 160px;
  overflow: hidden;
}

.title1 {
  font-size: 41px;
  margin-bottom: 15px;
}
.box-slider-testimonials {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.review-card-title{
  display: flex;
}
.card-title{
  font-size: 16px;
}
.review-card-title img,
.review-card img{
  width: 80px;
  margin-right: 20px;
}

.review-text-profile{
  /* text-align: right; */
  display: inline;
  height: 50px;
  float: right;
  /* float: right;
  position: relative;
  margin-top: 24px;
  padding-right: 44px;
  text-align: right; */
  /* text-align: right; */
}

.review-text-profile img{
  height: 50px;
  width: 45px;
}

.title-sub-link{
  width: 50px;
}

/* 캐러셀 카드리뷰 */
.per_main_review{
  /* margin: 0 20px; */
  width: 80%;
  margin: auto;
}
@media screen and (max-width:768px){
  .title-sub{
    /* cursor: pointer; */
    text-align: right !important;
    /* display: inline; */
    /* line-height: 44px; */
    /* font-size: 15px; */
    /* height: 44px; */
    vertical-align: middle;
    /* padding-right: 70px; */
    /* text-align: center; */
    float: right;
  }
}

@media screen and (min-width:993px){
  .cards-wrapper{
    display: flex;
  }
  .card{
    margin: 0 .5em;
    width: calc(100%/3);
  }
  .image-wrapper{
    /* height: 22vw; */
    margin: 0 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
  }

}
/* 보고 max-width픽셀 타블렛쪽으로 바꾸기 */
@media screen and (max-width:992px){
  .card:not(:first-child){
    display: none;

  }
  .image-wrapper{
    display: flex;
  }
}

.image-wrapper{
height: 120px;
vertical-align: middle;
}
.image-wrapper img, .popular-item-img{
  /* max-width: 50%; */
  max-height: 150px;
  max-width: 100px;
  object-fit: contain;
}

.per_main_review_text{
  background-color: #f4f6fa;
  border-radius: 12px;
  padding: 10px 12px;
  height: 180px;
  max-height: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;

}

.per_main_review_card{
  border-radius: 12px;
  padding: 10px 0;
}



/* 슬라이드 */
.slider-item{
  width: 280px !important;
  height: 300px;
  margin: 0 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 20px 20px;
  }

  .bx-wrapper {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    border: 0;
    background: 0;
}
.bx-wrapper .bx-prev {
  left: 10px;
  /* background: url("https://img.icons8.com/ios/100/000000/circled-chevron-right.png") 0 -32px no-repeat; */
}
.slider-item {
  margin: 0 15px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #a081ff;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d3d3d3;

}